.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  border: 1px solid black;
  padding: 20px;
}
.categoryName {
  font-weight: bold;
}
